@media(min-width: 768px) {
  .news-input {
    width: 50%
  }
}

body {
    margin: 0;
    padding: 5em;
    border: black;
    border-style: solid 1px;
    font: Arial;
    font-size: 12px;
    background-color: rgb(144, 101, 187);
}

img {
  size: 30% max;
}

p {
  color: black;
  /*background-color: antiquewhite; */
  padding: 1em;
  margin: 20px;
  font-size: 20px;
}

section {
  background-color:#f1e2f1;
}

footer {
  background-color: #470632;
  color: #ffffff;
}

container {
  background-color: aqua;
}
/*
div {
  width: 80%x;
  border: 1px solid black;
  padding: 50px;
  margin: 20px;
  background-color:antiquewhite;
}
*/
h1 {
  font-size: 30px;
  color: rgb(61, 5, 61);
}

a {
  color:#0e9482;
}

nav {
  background-color: #470632;
  color: #ffffff;
  text-decoration: none;
  text-decoration-color: #ffffff;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #470632;
  font-size: 20px;
  color: #ffffff;
}

ul, li {
  float: left;
  background-color: #470632;
  color: #ffffff;
}

ul, li a {
  display: block;
  color: rgb(219, 92, 192);
  text-align: center;
  text-decoration: none;
}


ul, li a:hover {
  background-color: #771658;
  color: #470632;
}

.nav-link {
  color: #3f2938;
}

