body {
    margin: 0;
    padding: 5em;
    border: black;
    border-style: solid 1px;
    font: Arial;
    font-size: 12px;
    background-color: rgb(227, 207, 247);
}

p {
    color: black;
    background-color: antiquewhite;
    padding: 1em;
    margin: 20px;
    font-size: 20px;
}

div {
    width: 80%x;
    border: 1px solid black;
    padding: 50px;
    margin: 20px;
    background-color:antiquewhite;
  }

h1 {
    font-size: 30px;
    color: rgb(54, 4, 54);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #470632;
    font-size: 20px;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }