body {
    margin: 0;
    padding: 5em;
    border: none;
    font: Arial;
    font-size: 12px;
    background-color: blueviolet;
}

p {
    color: blue;
    background-color: antiquewhite;
    padding: 1em;
    font-size: 20px;
}
